<div class="row d-flex">
  <div class="ms-1 col-sm-9">

    {{!-- search bar --}}
    <form action="/search" method="GET" class="d-flex mb-3">
      <input class="form-control me-2" type="search" placeholder="Search" name="keyword" value="{{keyword}}"
        aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
    </form>

    {{!-- teachers' info --}}
    <div class="row mb-3 d-flex justify-content-around">
      {{#each totalTeacher}}
      <div class="col-md-3 m-1">
        <a href="/teachers/{{this.id}}/checkTeacherPage" class="cardInfo">
          <div class="card d-flex flex-column">
            <div class="d-flex align-items-center justify-content-between">
              <div class="col-6">
                <div class="square-image">
                  <img src="{{ this.avatar }}" class="card-img-top" alt="..." width="100%" height="auto">
                </div>
              </div>
              <div class="col-6">
                <div class="info d-flex flex-column align-items-center">
                  <h5 class="text-center"><b>{{ this.name }}</b></h5>
                  <h6 class="text-center">{{ this.nation }}</h6>
                </div>
              </div>
            </div>

            <div class="card-body">
              <h6 class="card-text">{{ this.Class.teachingStyle }}</h6>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
  </div>

  {{!-- ranking --}}
  <div class="me-1 col-sm-2">
    <h5>學習時數總排行榜</h5>
    <div class="d-flex flex-column">
      {{#each totalTimeByStudent}}
      <div class="mb-3">
        <div class="d-flex">
          <div class="col-5">
            <img src="{{ this.avatar }}" alt="{{ this.avatar }}" width="100%" height="100%">
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="ms-1">
              <h6 class="text-center">
                No.{{ this.rank }} {{ this.name }}
              </h6>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>
</div>