<div class="row mt-6 mx-5 d-flex justify-content-center">
  <div class="col-sm-6">
    <h3 class="text-center"><b> Sign Up</b></h3>
    <form action="/signup" method="POST" class="my-5" enctype="multipart/form-data">

      <input type="text" class="form-control my-3" id="name" name="name" placeholder="Name" value="{{name}}" required>

      <input type="text" class="form-control my-3" id="account" name="account" placeholder="Account" value="{{account}}" required>

      <input type="email" class="form-control my-3" id="email" name="email" placeholder="Email" value="{{email}}" required>

      <input type="password" class="form-control my-3" id="password" name="password" placeholder="Password" value="{{password}}" required>

      <input type="password" class="form-control my-3" id="checkPassword" name="checkPassword" placeholder="Confirm Password"
        value="{{checkPassword}}" required>

      <input type="text" class="form-control my-3" id="aboutMe" name="aboutMe" placeholder="About me" value="{{aboutMe}}" required>

      <input type="text" class="form-control my-3" class="form-control-file" id="image" name="image" placeholder="Avatar" value="{{avatar}}">
      
      <input type="text" class="form-control my-3" id="nation" name="nation" placeholder="Nation" value="{{nation}}" required>
   
      <div class="text-center mb-4">
        <a href="">Or Sign up with Google</a>
      </div>
    
      <div class="text-center">
        <button type="submit" class="btn btn-outline-success">Submit</button>
      </div>
    </form>
  </div>
</div>