<form action="/users/{{ user.id }}?_method=PUT" method="POST" enctype="multipart/form-data">
  <div class="col-4 m-3">
    <input type="text" class="form-control" placeholder="Name" value="{{ user.name }}">
  </div>
  
  <div class="col-4 m-3">
    <input type="text" class="form-control" placeholder="Account" value="{{ user.account }}">
  </div>
  
  <div class="col-4 m-3">
    <input type="password" class="form-control" placeholder="Password">
  </div>
  
  <div class="col-10 m-3">
    <input type="text" class="form-control" placeholder="About Me" value="{{ user.aboutMe }}">
  </div>
  
  <div class="col-10 m-3">
    <input type="file" class="form-control" class="form-control-file" id="avatar" name="avatar" placeholder="Avatar"
      value="{{ user.avatar }}">
  </div>
  
  <div class="col-4 m-3">
    <input type="text" class="form-control" placeholder="Nation" value="{{ user.nation }}">
  </div>
  
  <div class="ms-3 my-5">
    <button class="btn btn-outline-success" type="submit">Submit</button>
  </div>
  <div class="text-center">
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
</form>