<form action="/users/{{ user.id }}/edit?_method=PUT" method="POST">
  <div class="col-4 m-3">
    <h5 class="my-2"><b>{{ user.name }}</b></h5>
    <input type="text" class="form-control" placeholder="Name">
  </div>
  
  <div class="col-4 m-3">
    <h5 class="my-2"><b>{{ user.account }}</b></h5>
    <input type="text" class="form-control" placeholder="Account">
  </div>
  
  <div class="col-4 m-3">
    <h5 class="my-2"><b>{{ user.password }}</b></h5>
    <input type="password" class="form-control" placeholder="Password">
  </div>
  
  <div class="col-4 m-3">
    <h5 class="my-2"><b>{{ user.password }}</b></h5>
    <input type="password" class="form-control" placeholder="Check Password">
  </div>
  
  <div class="col-10 m-3">
    <h5 class="my-2"><b>{{ user.aboutMe }}</b></h5>
    <input type="text" class="form-control" placeholder="About Me">
  </div>
  
  <div class="col-10 m-3">
    <h5 class="my-2"><b>{{ user.avatar }}</b></h5>
    <input type="url" class="form-control" placeholder="Avatar">
  </div>
  
  <div class="col-4 m-3">
    <h5 class="my-2"><b>{{ user.nation }}</b></h5>
    <input type="text" class="form-control" placeholder="Nation">
  </div>
  
  <div class="ms-3 my-5">
    <button class="btn btn-outline-success" type="submit">Submit</button>
  </div>
  <div class="text-center">
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
</form>