<div class="container-fluid">
  <div class="row px-5">
    <div class="col-md-10">
      <form action="/teachers/{{ id }}/editTeacherPage?_method=PUT" method="POST">
        <div class="col-4 mb-4">
          <h5 class="my-2"><b>Name</b></h5>
          <input type="text" id="name" name="name" class="form-control" placeholder="Name" value="{{ name }}">
        </div>
        <div class="col-4 mb-4">
          <h5 class="my-2"><b>Nation</b></h5>
          <input type="text" id="nation" name="nation" class="form-control" placeholder="English Nation  Name"
            value="{{ nation }}">
        </div>

        <h5 class="my-2"><b>Introduction</b></h5>
        <div class="mb-4">
          <input type="text" id="introduction" name="introduction" class="form-control" placeholder="Introduction"
            value="{{ introduction }}">
        </div>

        <h5 class="my-2"><b>Teaching Style</b></h5>
        <div class="mb-4">
          <input type="text" id="teachingStyle" name="teachingStyle" class="form-control" placeholder="Teaching Style"
            value="{{ teachingStyle }}">
        </div>

        {{!-- 30 / 60 minutes class duration --}}
        <h5 class="my-2"><b>Class Time</b></h5>
        <div class="mb-4">
          <input type="number" id="spendTime" name="spendTime" class="form-control" placeholder="30 mins or 60 mins"
            value="{{ spendTime }}">
        </div>

        <h5 class="my-2"><b>上課網址</b></h5>
        <div class="mb-4">
          <input type="url" id="classUrl" name="classUrl" class="form-control" placeholder="url" value="{{ classUrl }}">
        </div>

        <h5 class="my-2"><b>開放預約</b></h5>
        <div class="d-flex">
          <div class="mb-4 me-3">
            <input type="checkbox" id="Mon" name="Mon" value="{{Mon}}">
            <label for="Mon">Mon.</label>
          </div>
          <div class="mb-4 me-3">
            <input type="checkbox" id="Tue" name="Tue" value="{{Tue}}">
            <label for="Tue">Tue.</label>
          </div>
          <div class="mb-4 me-3">
            <input type="checkbox" id="Wed" name="Wed" value="{{Wed}}">
            <label for="Wed">Wed.</label>
          </div>
          <div class="mb-4 me-3">
            <input type="checkbox" id="Thur" name="Thur" value="{{Thur}}">
            <label for="Thur">Thur.</label>
          </div>
          <div class="mb-4 me-3">
            <input type="checkbox" id="Fri" name="Fri" value="{{Fri}}">
            <label for="Fri">Fri.</label>
          </div>
          <div class="mb-4 me-3">
            <input type="checkbox" id="Sat" name="Sat" value="{{Sat}}">
            <label for="Sat">Sat.</label>
          </div>
          <div class="mb-4 me-3">
            <input type="checkbox" id="Sun" name="Sun" value="{{Sun}}">
            <label for="Sun">Sun.</label>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-success">Submit</button>
          </div>
          <div class="text-center">
            <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</form>